img {
	border: 0;}

body {
	background: #efefef url(images/weather.png);}
      
* {	
   padding: 0;
   margin:0;
  }  
	


.topheader {
	        background: #FDFF18; 
            font: 16px Arial, Tahoma, San-Serif; 
			font-style: italic; 
			text-align: center; 
			padding: 20px 0;
						}
			
.header {
	      background: #60f0e6;
  		  height: 199px; 
         }
		  
.header img {
	       float: left;
		   }
		   
.header p {
	   line-height: 200px; 
	   text-align: left;
       margin-left: 450px;	   
	   font-size: 60px; 
	   color: #fff;
	   text-shadow: 0 0 3px rgba(240, 41, 233, 1);
	   font-family: Comic Sans Ms;}


.menu {
	background: #71f41a; 
	border: 1px solid #e3847d; 
	border-left: none; 
	border-right: none;
	}
.menu ul {
	      margin: 0 0 0 80px; 
		  list-style: none; 
		  text-align: center;
		  } 
.menu ul li {
	       display: inline-block;
		   margin: 5px 100px; 
		   text-transform: uppercase; 
		   text-shadow: 1px 1px 3px #fff;
		   }
		   

a  {
	text-decoration: none;
	color: #8c4351; 
	}
	
a:hover {
	color: #323096;
   }	


.content h1 {
	font-size: 30px;
	font: Arial, Tahoma, San-Serif;
	font-style: italic;
	text-align: center;
	margin: 30px 0;
				    }
				
.content img {
	margin: 20px 0 40px 200px;
	float: left;
	          }	
			
	
.content ul {
   	list-style-image: url(images/ball.gif);
	font-size: 22px;
	font: Arial, Tahoma, Sans-Serif;
	font-style: italic;
	margin-left: 55%;
	margin-top: 100px;
	margin-bottom: 150px;
	   } 	
	   
 .content hr {
	   color: #71f41a;
	   border: none;
	   background-color: #71f41a;
	   height: 2px;
       margin: 30px 0;
	   display: block;
	         }
	  
.content h2 {
	font: Arial, Tahoma, San-Serif;
	text-align: center;
	margin-bottom: 10px;
			 }	  
			 
.content p	{
	font: Arial, Tahoma, San-Serif;
	font-size: 18px;
	text-align: center;
	line-height: 1.5em;
	padding-left: 20px;
	padding-right: 20px;
        }
.content h2:hover,
.content p:hover	{
	background: #ccf;
          }	

 table {
   border-collapse: collapse;
   width: 400px;
   height: 150px;
   color: black;
   font-size: 18px;
   text-align: center;
   display: table;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 70px;
         }
		 
 tr:hover	{
	background: #ccf;
          }		 
td { 
  border: 1px #e3847d solid;
  padding: 15px;
   }
   
   
.footer {
	background: #FDFF18;
	height: 50px;
		         }
		 
.footer p {		 
	font: 16px Arial, Tahoma, San-Serif; 
	font-style: italic; 
	font-weight: bold;
	text-align: center; 
	line-height: 50px;
		      }
			  
@media screen and (max-width: 1024px){
	
	.content img {
	margin: 20px 0 0 80px;
	}
	
	.content ul {
   	margin-left: 600px;
	margin-bottom: 200px;}
	
	      }

	    

			  
@media screen and (max-width: 999px){
	

	.header p {
	   font-size: 28px; 
	   margin-left: 400px;
	   }
	   
	.menu ul {margin: 0;}   
	   
	
    .menu ul li {
	       display: block;
           padding: 5px 0;
               }	
			   
	.content h1 {
	text-align: center;
	margin: 20px 0;
			    }			   
			   
	.content img {
	margin: 20px 0 0 80px;
	}
	
	.content ul {
   	margin-left: 500px;
	margin-bottom: 100px;}
	
		      
  
	
	.footer p {	
	text-align: center;
	}
}

@media screen and (max-width: 576px){
	
	#root {padding: 0 10px;}
	
	.topheader {
		font-size: 12px;
			}
			
	.header {
       height: 250px;	
	}
 	   
	.header img {
	       float: none;
		   margin: auto;
		   display:block;
		   
		     }
		   
	.header p {
	   line-height: 0; 
	   text-align: center; 
	   margin-left: 0;
	   margin-bottom: 10px;
	   margin-top: 25px;
	   }
	   
	.content h1 {
       text-align: center;
	   font-size: 20px;
    }	
   
     .content img {
	    float: none;
		margin: auto;
	    display:block;
		margin-bottom: 0;
		             }	   
	   
	 .content ul {
   	    font-size: 20px;
		margin-left: 100px;
        text-align: left;
		margin-top: 20px;
		margin-bottom: 50px;
	     }
		 
	 
		 
		 
    .table {
        width: 340px;
        height: 127px;
        font-size: 15px;
		}
		
}	
		 
 @media print {
	#root {
		background: transparent;}
		
	.header p {
	   font-size: 28px; 
	   margin-left: 400px;
	   }	
	   
	.menu {
     display: none;
	  }
	
    .content h1 {
	text-align: center;
	margin: 20px 0;
	 }	 
	 
	.content img {
	margin: 20px 0 0 80px;
	}
	
	.content ul {
   	margin-left: 500px;
	margin-bottom: 100px;}
	 
				
	.footer p {	
	text-align: center;
	}
}		  
		   			  




